.#{$prefix}contextmenu{
  --height: 26px;
  --padding: 8px;
  font-family: var(--font-family);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 200px;
  min-width: 100px;
  min-height:100px;
  padding: var(--padding) 0;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  background-color: var(--tr-odd-bg-color);
  border-radius:var(--border-radius);
  z-index: 10;
  will-change: transform;
  &-item{
    &-divider{
      height: 1px;
      width:100%;
      background-color: var(--border-color);
      margin: var(--padding) 0;
    }
    &-content{
      height:var(--height);
      padding:0 12px;
      cursor: pointer;
      @include flex-b();
      span{
        font-size: 11px;
        color:var(--input-text);
        @include clamp();
        @include flex-1();
      }
      i{
        color:var(--input-text);
        margin-left: 4px;
        @include triangle(4px);
        @include css3(transform,scaleY(0.8) rotate(-90deg));
      }
      &:hover{
        background: var(--theme-color);
      }
    }
    &.disabled{
      .#{$prefix}contextmenu-item-content{
        span{
          color:var(--border-color);
          cursor: default;
        }
        &:hover{
          background: transparent;
        }
      }
    }
  }

  &-submenu{
    font-family: var(--font-family);
    position: absolute;
    top:0;
    left:200px;
    max-width: 200px;
    width:200px;
    min-width: 100px;
    min-height:(--height);
    padding: var(--padding) 0;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    background-color: var(--tr-odd-bg-color);
    border-radius:var(--border-radius);
    z-index: 10;
    will-change: transform;
  }

  &-model{
    position:relative;
  }
}
#easyuse-model-thumbnail{
  display: none;
  position: fixed;
  z-index:9999;
  width:200px;
  height:auto;
  opacity: 0;
  @include transition5();
}