.no-result-placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &-content{
    text-align: center;
    @include flex-column-up-down();
  }
  .p-card{
    background-color: transparent!important;
    box-shadow: none;
    text-align: center;
  }
  h3 {
    color: var(--input-text);
    margin-bottom: 0.5rem;
  }
  p{
    color: var(--descrip-text);
    margin-bottom: 1rem;
    margin-top: 0;
  }
}